.weather {
    &__details {
        width: 100%;
        padding-left: 20px;
      }
    &__parameter-row {
        display: flex;
        justify-content: space-between;
      }
    
      &__parameter-label {
        text-align: left;
        font-weight: 400;
        font-size: 12px;
      }
    
      &__parameter-value {
        text-align: right;
        font-weight: 600;
        font-size: 12px;
      }
}
