.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    &__content {
        position: relative;
        border-radius: 10px;
        padding: 20px;
        background-color: white;
        height: 100px;
        width: 600px;
        text-align: center;
        align-items: center;

    }

    &__button {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 35px;
    }

    &__message {
        font-weight: 600;
        font-size: 24px;
    }
}