.daily {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 35px;
    width: 600px;
    height: 150px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #555;
    margin-top: 50px;
  }
  &__item {
    background-color: lightcoral;
    border-radius: 15px;
    min-height: 40px;
    margin: 5px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    font-size: 14px;
    .day {
      color: #212121;
      font-weight: 600;
      margin: 5px;
    }
    .description {
      margin: 5px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: white;
    }
    .min-max {
      color: white;
      font-weight: 500;
      margin: 5px;
    }
  }
}
